html,body{height: 100%;
margin: 0;}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}
nav{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 15px 0;
    border-radius: 0 0 20px 20px;
    top: 0;
    z-index: 10;
    font-family: "Stack Sans Notch", sans-serif;
    background: rgba(0, 0, 0, 0.836);
    text-decoration: none;
}

.nav_box{
    padding: 10px 20px;
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
    transition: 0.25s ease;
}
.nav_box:hover{
    background:white;
    color: black;
    border-radius: 16px;
    transform: scale(1.22)  translateY(-3px);
    box-shadow: 5px 5px 15px rgba(142, 66, 183, 0.7);
}
body{
    background-image: url(./assets/img/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 90px;
    text-shadow: 5px 5px 15px rgba(142, 66, 183, 0.7) ;
    
}
h3{
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 35px ;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550 ;
    font-size: 20px;
}
.boton_hero{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(7, 7, 7);
    border: 2px solid black;
    transition: 0.25s ease;
    text-decoration: none;
    font-size: 24px;
    border-radius: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 5;
    box-shadow: 5px 5px 15px rgba(142, 66, 183, 0.7);
    align-items: center;
    gap: 8px;
    line-height: 1;
   
}
.contenidor-doble{
    display: flex;
    justify-content: center;
    gap: 40px;           /* separación entre cajas */
    width: 100%;
    margin-top: 40px;
}

.contenidor-doble .box{
    width: 40%;          /* para que quepan una al lado de la otra */
    margin: 0;           /* quitamos el margin automático */
    background: linear-gradient(180deg,rgba(142, 66, 183, 0.7), #ffffff);
}
.columna-targetes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.columna-targetes img{
    max-width: 100%;
    height: auto;  
}
.columna-targetes article{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.box{
    max-width: 700px;     
    margin: 0 auto;       /* centra la box en su contenedor */
    padding: 20px 25px;
}
.box h2, .box h3{
    margin: 10px 0
}
.box p{
    margin: 15px 0 10px;
}

.movimimento-img{
    width: 150px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}
.movimimento-img img{
    width: 150px;
}


/* Cuando se pulsa PLAY (checkbox marcado) */
.correcaminos_ease,
.correcaminos_ease-in-out,
.correcaminos_linear{
    width: 150px;
    transform: translateX(-300px);   /* PUNTO A */
}



.correcaminos_ease{
          
    transition: transform 2s ease;    
}
.correcaminos_ease-in-out{
          
    transition: transform 2s ease-in-out;    
}
.correcaminos_linear{
          
    transition: transform 2s linear;    
}
.textos{
    flex: 1;
    text-align: left;
}

#play:checked ~ .contenidor-doble #targetes .correcaminos_ease,
#play:checked ~ .contenidor-doble #targetes .correcaminos_ease-in-out,
#play:checked ~ .contenidor-doble #targetes .correcaminos_linear{
    transform: translateX(0px);   /* PUNTO B */
}

.code{
    justify-content: left;
    text-align: left;
    margin-left: 20px;
}
.boton_hero:hover{
    transform: scale(1.22) translateY(-5px);
    box-shadow: 5px 5px 15px rgba(142, 66, 183, 0.7);
    background-color: aliceblue;
    color: black;
}

.box{
    background: rgba(142, 66, 183, 0.7);
    margin: 60px auto;
    padding: 20px 10px;
    width: 65%;
    
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
    
}  
.flip-card{
    width: 600px;
    height: 500px;
    margin: 40px auto;
    perspective: 1000px;
}
.flip-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.flip-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-inner{
    transform: rotateY(180deg);
}

.flip-front, .flip-back{
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flip-front img,
.flip-back img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.flip-back{
    transform: rotateY(180deg);
}

/* ---------- BOX OPACITAT ---------- */

.box-opacitat h3{
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.box-opacitat p{
    font-family: "Stack Sans Notch", sans-serif;
    margin-bottom: 25px;
}
.box-opacitat{
    background: linear-gradient(180deg,rgba(142, 66, 183, 0.7), #ffffff);
}
.container-opacitat{
    max-width: 400px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* ESTADO INICIAL: apagada / gris / semi-transparente */
.imatge_opacitat{
    width: 100%;
    
    display: block;
    opacity: 0.4;
    filter: grayscale(100%);
    transition:
        opacity 0.8s ease-out,
        filter 0.8s ease-out,
        transform 0.8s ease-out;
}

/* HOVER: más viva, sin gris y un pelín de zoom */
.imatge_opacitat:hover{
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* ------------------ MENÚ SECUNDARI ------------------ */

.box-menu-secundari h3{
    font-size: 32px;
    margin-bottom: 10px;
}

.box-menu-secundari p{
    margin-bottom: 25px;
}
.box-menu-secundari{
    
    background: linear-gradient(180deg,rgba(142, 66, 183, 0.7), #ffffff);
}

.menu-secundari{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    gap: 15px;
    border: 2px solid;
    border-radius: 16px;
    background-color: rgba(142, 66, 183, 0.7);
    padding: 20px;
    max-width: 380px;
    margin: 0 auto;
    height: 250px;
}

.menu-secundari a{
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: center;
    width: 30%;

    /* ESTADO INICIAL */
    letter-spacing: 0px;
    transition:
        color 0.4s ease,
        letter-spacing 0.4s ease;
}

/* HOVER — color + separación entre letras */
.menu-secundari a:hover{
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
}

.footer{
    text-align: center;
    margin-top: 70px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: black;
    opacity: 0.8;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 16px;
    
}


.box-loader code{
    justify-content: left;
}

.loader-punts{
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 20px;
}

.loader-punts span{
    width: 30px;
    height: 30px;
    border: 3px solid;
    border-radius: 50%;
    background: rgb(229, 8, 8);
    animation: punts-bounce 0.6s ease-in-out infinite;
    margin-top: 30px;
    
}
.loader-cor img{
    width: 200px;
    animation: pulse 0.8s infinite ease-in-out;
    filter: drop-shadow(10px 20px 40px rgb(255, 0, 0));
}
.regles-loader-cor {
    display: flex;
    text-align: left;
    justify-content: center;
    
}
.regla-css{
    width: 30%;
    text-align: left;
}
.keyframes-cor{
    display: flex;
    text-align: left ;
    margin-left: 80px;
}
@keyframes pulse {
    0%{transform: scale(1);}
    50%{transform: scale(1.15);}
    100%{transform: scale(1);}}

/* retard per a que vagin un darrere l'altre */
.loader-punts span:nth-child(2){
    animation-delay: 0.15s;
}

.loader-punts span:nth-child(3){
    animation-delay: 0.3s;
}
.regles-punts{
    display: flex;
    justify-content: center;
}

.rotacio img{
    width: 250px;
     animation: spin 4s linear infinite;
}

@keyframes spin{
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@keyframes punts-bounce{
    0%, 100%{
        transform: translateY(0);
        opacity: 0.1;
    }
    50%{
        transform: translateY(-38px);
        opacity: 1;
    }
}
